BasedOnStyle: LLVM
ColumnLimit: 99
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 0
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: NextLine
Cpp11BracedListStyle: false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
ReflowComments: false
