BasedOnStyle: LLVM
ColumnLimit: 99
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 0
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: NextLine
AlignEscapedNewlines: Left
IndentPPDirectives: AfterHash
AllowShortFunctionsOnASingleLine: Empty
